.equipo{
    width: 100%;
    /* background-color: #D9F7E9; */
    padding: 32px;
    box-sizing: border-box;
    text-align: center;
    position: relative;
}

.equipo h3{
    border-bottom: 4px solid;
    display: inline-block;
}

.colaboradores{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.color{
    position: absolute;
    top: 20px;
    right: 50px;
}